<!DOCTYPE html>
<html lang="en">
<head>

    <link href="../static/limitless/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="../static/limitless/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="../static/limitless/css/core.css" rel="stylesheet" type="text/css">
    <link href="../static/limitless/css/components.css" rel="stylesheet" type="text/css">
    <link href="../static/limitless/css/colors.css" rel="stylesheet" type="text/css">
    <link href="../static/css/app.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script type="text/javascript" src="../static/limitless/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="../static/limitless/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="../static/limitless/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/limitless/js/plugins/loaders/blockui.min.js"></script>
    <script type="text/javascript" src="../static/limitless/js/plugins/ui/nicescroll.min.js"></script>
    <script type="text/javascript" src="../static/limitless/js/plugins/ui/drilldown.js"></script>
    <script type="text/javascript" src="../static/limitless/js/plugins/ui/fab.min.js"></script>
    <script type="text/javascript" src="../static/js/base.js"></script>
    <script type="text/javascript" src="../static/js/jquery.dotdotdot.js"></script>
    <script type="text/javascript" src="../static/js/jquery.form.js"></script>
    <!-- /core JS files -->


    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
{% block base_content %}{% endblock %}



<!-- Theme JS files -->
<script type="text/javascript" src="../static/limitless/js/plugins/forms/styling/switchery.min.js"></script>

<script type="text/javascript" src="../static/limitless/js/core/app.js"></script>
<script type="text/javascript" src="../static/limitless/js/pages/tasks_grid.js"></script>

</html>