<!DOCTYPE html>
<html lang="en">
<head>
    
    <link href="{{ url_for('static', filename='limitless/css/icons/icomoon/styles.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='limitless/css/bootstrap.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='limitless/css/core.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='limitless/css/components.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='limitless/css/colors.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/fileinput.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='themes/theme.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/app.css') }}" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script type="text/javascript" src="{{ url_for('static', filename='limitless/js/plugins/loaders/pace.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='limitless/js/core/libraries/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='limitless/js/core/libraries/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='limitless/js/plugins/loaders/blockui.min.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/sortable.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/fileinput.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/fileinput-locale-ru.js') }}"></script>
{#    <script type="text/javascript" src="{{ url_for('static', filename='/themes/theme.js') }}"></script>#}

    <script type="text/javascript" src="{{ url_for('static', filename='limitless/js/plugins/forms/validation/validate.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='limitless/js/plugins/forms/styling/uniform.min.js') }}"></script>


    <script type="text/javascript" src="{{ url_for('static', filename='limitless/js/core/libraries/jquery_ui/interactions.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='limitless/js/plugins/forms/selects/select2.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='limitless/js/core/app.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='limitless/js/pages/form_select2.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='limitless/js/plugins/ui/nicescroll.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='limitless/js/plugins/ui/drilldown.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='limitless/js/plugins/ui/fab.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='limitless/js/plugins/media/fancybox.min.js') }}"></script>


    <script type="text/javascript" src="{{ url_for('static', filename='js/base.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.dotdotdot.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.form.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.file_itput.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='limitless/js/pages/login.js') }}"></script>
    <!-- /core JS files -->


    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
{% block base_content %}{% endblock %}



<!-- Theme JS files -->
{#<script type="text/javascript" src="{{ url_for('static', filename='limitless/js/plugins/forms/styling/uniform.min.js') }}"></script>#}
<script type="text/javascript" src="{{ url_for('static', filename='limitless/js/plugins/forms/styling/switchery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='limitless/js/plugins/forms/styling/switch.min.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='limitless/js/core/app.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='limitless/js/pages/tasks_grid.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='limitless/js/pages/form_checkboxes_radios.js') }}"></script>
<script type="text/javascript">
    $('input').uniform();

</script>


</html>