{% extends "main_navbar.html" %}
{% from "macros.html" import ticket %}
{% block title %}
{{ title }}
{% endblock %}
{% block content %}

<!-- Main content -->
<div class="content-wrapper">

    <!-- Page header -->
    <div class="page-header">
        <div class="page-header-content">
            <div class="page-title">
                <h4><i class=" icon-list position-left"></i> <span
                        class="text-semibold">{{title}}</span></h4>

                <ul class="breadcrumb position-right">
                    <li><a href="/user/{{ user.login }}">Profile</a></li>
                    <li class="active">Dashboard</li>
                </ul>
                <a class="heading-elements-toggle"><i class="icon-more"></i></a></div>

                <div class="heading-elements">
                    <a href="#" class="btn bg-blue btn-labeled heading-btn"><b><i class="icon-task"></i></b> Create
                        task</a>
                    <a href="#" class="btn btn-default btn-icon heading-btn"><i class="icon-gear"></i></a>
                </div>
            </div>
        </div>
        <!-- /page header -->


        <!-- Content area -->
        <div class="content">

            <!-- Detached content -->
            <div class="container-detached">
                <div class="content-detached">

                    <!-- Tasks options -->
                    <div class="navbar navbar-default navbar-xs navbar-component">
                        <ul class="nav navbar-nav no-border visible-xs-block">
                            <li><a class="text-center collapsed" data-toggle="collapse"
                                   data-target="#navbar-filter"><i class="icon-menu7"></i></a></li>
                        </ul>

                        <div class="navbar-collapse collapse" id="navbar-filter">
                            <p class="navbar-text">Filter:</p>
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                                            class="icon-sort-time-asc position-left"></i> By date <span
                                            class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Show all</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Today</a></li>
                                        <li><a href="#">Yesterday</a></li>
                                        <li><a href="#">This week</a></li>
                                        <li><a href="#">This month</a></li>
                                        <li><a href="#">This year</a></li>
                                    </ul>
                                </li>

                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                                            class="icon-sort-amount-desc position-left"></i> By status <span
                                            class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Show all</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Open</a></li>
                                        <li><a href="#">On hold</a></li>
                                        <li><a href="#">Resolved</a></li>
                                        <li><a href="#">Closed</a></li>
                                        <li><a href="#">Dublicate</a></li>
                                        <li><a href="#">Invalid</a></li>
                                        <li><a href="#">Wontfix</a></li>
                                    </ul>
                                </li>

                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                                            class="icon-sort-numeric-asc position-left"></i> By priority <span
                                            class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Show all</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Highest</a></li>
                                        <li><a href="#">High</a></li>
                                        <li><a href="#">Normal</a></li>
                                        <li><a href="#">Low</a></li>
                                    </ul>
                                </li>
                            </ul>

                            <div class="navbar-right">
                                <p class="navbar-text">View mode:</p>
                                <form class="navbar-form navbar-left" action="#">
                                    <div class="form-group">
                                        <label class="checkbox-inline switchery-double checkbox-switchery switchery-xs">
                                            List
                                            <input type="checkbox" class="switch-mode" checked="checked"
                                                   style="display: none;" data-switchery="true"><span
                                                class="switchery switchery-default"
                                                style="background-color: rgb(100, 189, 99); border-color: rgb(100, 189, 99); box-shadow: rgb(100, 189, 99) 0px 0px 0px 8px inset; transition: border 0.4s, box-shadow 0.4s, background-color 1.2s;"><small
                                                style="left: 14px; background-color: rgb(255, 255, 255); transition: background-color 0.4s, left 0.2s;"></small></span>
                                            Grid
                                        </label>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- /tasks options -->


                    <!-- Tasks grid -->
                    <div class="row">
                        {{ ticket(1, 'ticket #1', '25 февраля 2017', 'Open', 'High') }}
                        {{ ticket(2, 'ticket #2', '15 февраля 2017', 'Open', 'Highest') }}
                    </div>
                    <!-- /tasks grid -->


                    <!-- Pagination -->
                    <!--<div class="text-center content-group-lg pt-20">-->
                    <!--<ul class="pagination">-->
                    <!--<li class="disabled"><a href="#"><i class="icon-arrow-small-left"></i></a></li>-->
                    <!--<li class="active"><a href="#">1</a></li>-->
                    <!--<li><a href="#">2</a></li>-->
                    <!--<li><a href="#">3</a></li>-->
                    <!--<li><a href="#">4</a></li>-->
                    <!--<li><a href="#">5</a></li>-->
                    <!--<li><a href="#"><i class="icon-arrow-small-right"></i></a></li>-->
                    <!--</ul>-->
                    <!--</div>-->
                    <!-- /pagination -->

                </div>
            </div>
            <div class="sidebar-detached">
                <div class="sidebar sidebar-default">
                    <div class="sidebar-content">

                        <!-- Search task -->
                        <div class="sidebar-category">
                            <div class="category-title">
                                <span>Search task</span>
                                <ul class="icons-list">
                                    <li><a href="#" data-action="collapse"></a></li>
                                </ul>
                            </div>

                            <div class="category-content">
                                <form action="#">
                                    <div class="has-feedback has-feedback-left">
                                        <input type="search" class="form-control" placeholder="Type and hit Enter">
                                        <div class="form-control-feedback">
                                            <i class="icon-search4 text-size-base text-muted"></i>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /search task -->


                        <!-- Action buttons -->
                        <div class="sidebar-category">
                            <div class="category-title">
                                <span>Action buttons</span>
                                <ul class="icons-list">
                                    <li><a href="#" data-action="collapse"></a></li>
                                </ul>
                            </div>

                            <div class="category-content">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <button class="btn bg-teal-400 btn-block btn-float btn-float-lg"
                                                type="button"><i class="icon-git-branch"></i> <span>Branch</span>
                                        </button>
                                        <button class="btn bg-purple-300 btn-block btn-float btn-float-lg"
                                                type="button"><i class="icon-mail-read"></i> <span>Messages</span>
                                        </button>
                                    </div>

                                    <div class="col-xs-6">
                                        <button class="btn bg-warning-400 btn-block btn-float btn-float-lg"
                                                type="button"><i class="icon-stats-bars"></i>
                                            <span>Statistics</span></button>
                                        <button class="btn bg-blue btn-block btn-float btn-float-lg" type="button">
                                            <i class="icon-people"></i> <span>Users</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /action buttons -->


                        <!-- Task navigation -->
                        <div class="sidebar-category">
                            <div class="category-title">
                                <span>Navigation</span>
                                <ul class="icons-list">
                                    <li><a href="#" data-action="collapse"></a></li>
                                </ul>
                            </div>

                            <div class="category-content no-padding">
                                <ul class="navigation navigation-alt navigation-accordion">
                                    <li class="navigation-header">Actions</li>
                                    <li><a href="#"><i class="icon-googleplus5"></i> Create task</a></li>
                                    <li><a href="#"><i class="icon-portfolio"></i> Create project</a></li>
                                    <li><a href="#"><i class="icon-compose"></i> Edit task list</a></li>
                                    <li><a href="#"><i class="icon-user-plus"></i> Assign users <span
                                            class="label label-success">94 online</span></a></li>
                                    <li><a href="#"><i class="icon-collaboration"></i> Create team</a></li>
                                    <li class="navigation-header">Tasks</li>
                                    <li><a href="#"><i class="icon-files-empty"></i> All tasks</a></li>
                                    <li><a href="#"><i class="icon-file-plus"></i> Active tasks <span
                                            class="badge badge-default">28</span></a></li>
                                    <li><a href="#"><i class="icon-file-check"></i> Closed tasks</a></li>
                                    <li class="navigation-divider"></li>
                                    <li><a href="#"><i class="icon-reading"></i> Assigned to me <span
                                            class="badge badge-info">86</span></a></li>
                                    <li><a href="#"><i class="icon-make-group"></i> Assigned to my team <span
                                            class="badge badge-info">47</span></a></li>
                                    <li><a href="#"><i class="icon-cog3"></i> Settings</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- /task navigation -->


                        <!-- Assigned users -->
                        <div class="sidebar-category">
                            <div class="category-title">
                                <span>Assigned users</span>
                                <ul class="icons-list">
                                    <li><a href="#" data-action="collapse"></a></li>
                                </ul>
                            </div>

                            <div class="category-content">
                                <ul class="media-list">
                                    <li class="media">
                                        <a href="#" class="media-left"><img src=""
                                                                            class="img-sm img-circle" alt=""></a>
                                        <div class="media-body">
                                            <a href="#" class="media-heading text-semibold">James Alexander</a>
                                            <span class="text-size-mini text-muted display-block">Santa Ana, CA.</span>
                                        </div>
                                        <div class="media-right media-middle">
                                            <span class="status-mark bg-success"></span>
                                        </div>
                                    </li>

                                    <li class="media">
                                        <a href="#" class="media-left"><img src=""
                                                                            class="img-sm img-circle" alt=""></a>
                                        <div class="media-body">
                                            <a href="#" class="media-heading text-semibold">Jeremy Victorino</a>
                                            <span class="text-size-mini text-muted display-block">Dowagiac, MI.</span>
                                        </div>
                                        <div class="media-right media-middle">
                                            <span class="status-mark bg-danger"></span>
                                        </div>
                                    </li>

                                    <li class="media">
                                        <a href="#" class="media-left"><img src=""
                                                                            class="img-sm img-circle" alt=""></a>
                                        <div class="media-body">
                                            <a href="#" class="media-heading text-semibold">Margo Baker</a>
                                            <span class="text-size-mini text-muted display-block">Kasaan, AK.</span>
                                        </div>
                                        <div class="media-right media-middle">
                                            <span class="status-mark bg-success"></span>
                                        </div>
                                    </li>

                                    <li class="media">
                                        <a href="#" class="media-left"><img src=""
                                                                            class="img-sm img-circle" alt=""></a>
                                        <div class="media-body">
                                            <a href="#" class="media-heading text-semibold">Beatrix Diaz</a>
                                            <span class="text-size-mini text-muted display-block">Neenah, WI.</span>
                                        </div>
                                        <div class="media-right media-middle">
                                            <span class="status-mark bg-warning"></span>
                                        </div>
                                    </li>

                                    <li class="media">
                                        <a href="#" class="media-left"><img src=""
                                                                            class="img-sm img-circle" alt=""></a>
                                        <div class="media-body">
                                            <a href="#" class="media-heading text-semibold">Richard Vango</a>
                                            <span class="text-size-mini text-muted display-block">Grapevine, TX.</span>
                                        </div>
                                        <div class="media-right media-middle">
                                            <span class="status-mark bg-grey-400"></span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /assigned users -->


                        <!-- Revisions -->
                        <div class="sidebar-category">
                            <div class="category-title">
                                <span>Revisions</span>
                                <ul class="icons-list">
                                    <li><a href="#" data-action="collapse"></a></li>
                                </ul>
                            </div>

                            <div class="category-content">
                                <ul class="media-list">
                                    <li class="media">
                                        <div class="media-left">
                                            <a href="#"
                                               class="btn border-primary text-primary btn-flat btn-rounded btn-icon btn-sm"><i
                                                    class="icon-git-pull-request"></i></a>
                                        </div>

                                        <div class="media-body">
                                            Drop the IE <a href="#">specific hacks</a> for temporal inputs
                                            <div class="media-annotation">4 minutes ago</div>
                                        </div>
                                    </li>

                                    <li class="media">
                                        <div class="media-left">
                                            <a href="#"
                                               class="btn border-warning text-warning btn-flat btn-rounded btn-icon btn-sm"><i
                                                    class="icon-git-commit"></i></a>
                                        </div>

                                        <div class="media-body">
                                            Add full font overrides for popovers and tooltips
                                            <div class="media-annotation">36 minutes ago</div>
                                        </div>
                                    </li>

                                    <li class="media">
                                        <div class="media-left">
                                            <a href="#"
                                               class="btn border-info text-info btn-flat btn-rounded btn-icon btn-sm"><i
                                                    class="icon-git-branch"></i></a>
                                        </div>

                                        <div class="media-body">
                                            <a href="#">Chris Arney</a> created a new <span
                                                class="text-semibold">Design</span>
                                            branch
                                            <div class="media-annotation">2 hours ago</div>
                                        </div>
                                    </li>

                                    <li class="media">
                                        <div class="media-left">
                                            <a href="#"
                                               class="btn border-success text-success btn-flat btn-rounded btn-icon btn-sm"><i
                                                    class="icon-git-merge"></i></a>
                                        </div>

                                        <div class="media-body">
                                            <a href="#">Eugene Kopyov</a> merged <span
                                                class="text-semibold">Master</span> and <span
                                                class="text-semibold">Dev</span>
                                            branches
                                            <div class="media-annotation">Dec 18, 18:36</div>
                                        </div>
                                    </li>

                                    <li class="media">
                                        <div class="media-left">
                                            <a href="#"
                                               class="btn border-primary text-primary btn-flat btn-rounded btn-icon btn-sm"><i
                                                    class="icon-git-pull-request"></i></a>
                                        </div>

                                        <div class="media-body">
                                            Have Carousel ignore keyboard events
                                            <div class="media-annotation">Dec 12, 05:46</div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /revisions -->


                        <!-- Completeness stats -->
                        <div class="sidebar-category">
                            <div class="category-title">
                                <span>Completeness stats</span>
                                <ul class="icons-list">
                                    <li><a href="#" data-action="collapse"></a></li>
                                </ul>
                            </div>

                            <div class="category-content">
                                <ul class="progress-list">
                                    <li>
                                        <label>Highest priority <span>80%</span></label>
                                        <div class="progress progress-xxs">
                                            <div class="progress-bar progress-bar-danger" style="width: 80%">
                                                <span class="sr-only">80% Complete</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <label>High priority <span>70%</span></label>
                                        <div class="progress progress-xxs">
                                            <div class="progress-bar progress-bar-info" style="width: 70%">
                                                <span class="sr-only">70% Complete</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <label>Normal priority <span>50%</span></label>
                                        <div class="progress progress-xxs">
                                            <div class="progress-bar progress-bar-primary" style="width: 50%">
                                                <span class="sr-only">50% Complete</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <label>Low prioruty <span>60%</span></label>
                                        <div class="progress progress-xxs">
                                            <div class="progress-bar progress-bar-success" style="width: 60%">
                                                <span class="sr-only">60% Complete</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /completeness stats -->

                    </div>
                </div>
            </div>
            <!-- /detached content -->


            <!-- Detached sidebar -->

            <!-- /detached sidebar -->


            <!-- Footer -->
            <div class="footer text-muted">
                © 2015. <a href="#">Limitless Web App Kit</a> by <a href="http://themeforest.net/user/Kopyov"
                                                                    target="_blank">Eugene Kopyov</a>
            </div>
            <!-- /footer -->

        </div>
        <!-- /content area -->

    </div>
    <!-- /main content -->
    {% endblock %}

