{% macro ticket(task) %}
    <div class="col-md-6">
        <div id="ticket_{{ task.id }}" class="panel border-left-lg border-left-primary">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-8">
                        <h6 class="no-margin-top"><a href="task_manager_detailed.html">#{{ task.id }}. {{ task.name }}</a></h6>
                        <p class="mb-15">{{ task.description }}</p>
                        {# default #}
{#                    TODO USERS#}
{#                        <img src="{{ url_for('static', filename='images/users/girl-placeholder.png') }}"#}
{#                             class="img-circle img-xs" alt="">#}
{#                        <img src="{{ url_for('static', filename='images/users/man-placeholder.png') }}"#}
{#                             class="img-circle img-xs" alt="">#}
{#                        <img src="{{ url_for('static', filename='images/users/woman-placeholder.png') }}"#}
{#                             class="img-circle img-xs" alt="">#}
                        {# end default #}
                        {% for user in users %}
                            <a href="#">
                                {# TODO user image and link
                            <img src="assets/images/demo/users/face1.jpg" class="img-circle img-xs" alt="">
                            <img src="assets/images/demo/users/face1.jpg" class="img-circle img-xs" alt="">
                             #}
                                User
                            </a>
                        {% endfor %}
                        <a href="#" class="text-default">&nbsp;<i class="icon-plus22"></i></a>
                    </div>

                    <div class="col-md-4">
                        <ul class="list task-details">
                            <li>{{ task.date_create.strftime('%Y-%m-%d') }}</li>
                            <li class="dropdown" style="white-space: nowrap;">
                                Приоритет: &nbsp;
                                <a href="#" class="priority label dropdown-toggle"
                                   data-toggle="dropdown">{{ task.priority.name|capitalize }}

                                    <ul class="chose-priority dropdown-menu dropdown-menu-right active">
{#                                        TODO BY DB PRIORITY #}
                                        <li><a class="chooser" href="#"><span
                                                class="Наивысший status-mark position-left bg-danger"></span> Наивысший
                                            приоритет</a></li>
                                        <li><a class="chooser" href="#"><span
                                                class="Высокий status-mark position-left bg-info"></span> Высокий
                                            приоритет</a></li>
                                        <li><a class="chooser" href="#"><span
                                                class="Средний status-mark position-left bg-primary"></span> Средний
                                            приоритет</a></li>
                                        <li><a class="chooser" href="#"><span
                                                class="Низкий status-mark position-left bg-success"></span> Низкий
                                            приоритет</a></li>
                                    </ul>
                            </li>
                            <li style="white-space: nowrap"><a href="#">{{ task.release.project.name }} |{{ task.release.name }}</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="panel-footer panel-footer-condensed"><a class="heading-elements-toggle"><i
                    class="icon-more"></i></a><a class="heading-elements-toggle"><i class="icon-more"></i></a>
                <div class="heading-elements">
{#                    <span class="heading-text">Due: <span class="text-semibold">23 hours</span></span>#}

                    <ul class="list-inline list-inline-condensed heading-text pull-right">
                        <li class="dropdown">
                            <a href="#" class="text-default dropdown-toggle" data-toggle="dropdown">{{ task.state.name|capitalize }}
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu dropdown-menu-right active">
                                <li class="active"><a href="#">{{ task.state.name|capitalize }}</a></li>
{#                                TODO STATES FROM DB#}
                                <li><a href="#">On hold</a></li>
                                <li><a href="#">Resolved</a></li>
                                <li><a href="#">Closed</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Dublicate</a></li>
                                <li><a href="#">Invalid</a></li>
                                <li><a href="#">Wontfix</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="text-default dropdown-toggle" data-toggle="dropdown"><i
                                    class="icon-menu7"></i> <span class="caret"></span></a>
                            <ul class="dropdown-menu dropdown-menu-right">
{#                                TODO FUNCTIONS#}
                                <li><a href="#"><i class="icon-alarm-add"></i> Check in</a></li>
                                <li><a href="#"><i class="icon-attachment"></i> Attach screenshot</a>
                                </li>
                                <li><a href="#"><i class="icon-rotate-ccw2"></i> Reassign</a></li>
                                <li class="divider"></li>
                                <li><a href="#"><i class="icon-pencil7"></i> Edit task</a></li>
                                <li><a href="#"><i class="icon-cross2"></i> Remove</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function (e) {
{#            TODO REMAKE SCRIPT#}

            var $root = $('#ticket_{{ task.id }}');

            var priority = 0 || '{{ task.priority.name |capitalize }}';

            function change_priority(newvalue) {

                newvalue = newvalue.toString().capitalize();

                var $priority = $root.find('.priority:first'),
                    prior_class = {
                        'Наивысший': '-danger',
                        'Высокий': '-info',
                        'Средний': '-primary',
                        'Низкий': '-success'
                    };

                $.each(prior_class, function (_, v) {
                    $root.removeClass('border-left' + v);
                    $priority.removeClass('label' + v);

                });

                $priority.html(newvalue + '<span class="caret"></span></a>').addClass('label' + prior_class[newvalue]);
                $root.addClass('border-left' + prior_class[newvalue]);

                console.log('------------');
                console.log($priority.html());

                return true;
            }

            $root.find('.chose-priority li span.Наивысший').parents('a:first').data("priority", 'Наивысший');
            $root.find('.chose-priority li span.Высокий').parents('a:first').data("priority", 'Высокий');
            $root.find('.chose-priority li span.Средний').parents('a:first').data("priority", 'Средний');
            $root.find('.chose-priority li span.Низкий').parents('a:first').data("priority", 'Низкий');

            console.log(priority);
            change_priority(priority);

            $root.find('.{{ task.priority.name |lower }}').parents('li:first').addClass('active');

            $root.find('.chose-priority li').click(function () {
                console.log($(this).find('a.chooser').data('priority'));
                change_priority($(this).find('a.chooser').data('priority'));
            })


        })
    </script>
{% endmacro %}

{% macro timeline_el(user, content) %}
    <div class="timeline-row">
        <div class="timeline-icon">
            {% if user %}
                <a href="/user/{{ user.login }}"><img src="{{ user.avatar.path }}" alt=""></a>
            {% else %}
                <a href="#" class="btn border-blue text-blue btn-flat btn-icon btn-rounded"><i class="icon-info22"></i></a>
            {% endif %}
        </div>
        {{ content }}

    </div>
{% endmacro %}

{% macro blank_time_el() %}
    <div class="panel panel-flat timeline-content">
        <div class="panel-heading">
            <h6 class="panel-title">Информация<a class="heading-elements-toggle"><i class="icon-more"></i></a>
            </h6>
        </div>
        <div class="panel-body">
            <dev class="content-group">
                <div>
                    Здесь будут отображатся все проекты, в которых Вы участвуете
                </div>
            </dev>
        </div>
    </div>
{% endmacro %}

{% macro project(project_el) %}
    <div class="panel panel-flat" style="max-height: 450px">
        <div class="panel-heading" style="padding-bottom: 10px; padding-top: 10px">
            <h3 class="panel-title">{{ project_el.name if project_el else 'Project name' }}<a
                    class="heading-elements-toggle"><i class="icon-more"></i></a>
            </h3>
            <div class="heading-elements">
                <a href="#" class="text-default">
                    <span class="heading-text">
                        Перейти к проекту
                        <i class="icon-circle-right2 position-right"></i>
                    </span>
                </a>

                {#                <ul class="icons-list">#}
                {#                    <li><a data-action="reload"></a></li>#}
                {#                </ul>#}
            </div>
        </div>

        <div class="container-fluid" style="max-height: inherit">
            <div class="row" style="overflow: hidden;">
                <div class="col-xs-3">

                    <!-- Project thumbnail -->
                    <div class="panel text-center panel-image">
                        <div class="panel-body">
                            {% if project_el %}
                                <img class="img-circle img-responsive" src="{{ project_el.avatar.path }}"
                                     alt="">

                            {% else %}
                                <img class="img-circle img-responsive"
                                     src="{{ url_for('static', filename='images/projects/proj_demo_1.png') }}"
                                     alt="">
                            {% endif %}

                            <div class="caption ">
                                <h6 class="text-semibold no-margin">{{ project_el.company_name}}
                                </h6>
                                {% if project_el and project_el.company_location %}
                                    <div class="text-size-mini text-muted">
                                        <i class="icon-pin text-size-small"></i> {{ project_el.company_location }}
                                    </div>
                                {% endif %}
                            </div>
                            <ul class="icons-list mt-15">
                                {% if project_el.link %}
                                    <li><a href="{{ project_el.link }}" data-popup="tooltip" title=""
                                           data-original-title="Официальный сайт"><i
                                            class="icon-link"></i></a></li>
                                {% endif %}
                            </ul>
                        </div>

                    </div>
                    <!-- /Project thumbnail -->

                </div>
                <div class="col-xs-9">
                    <!-- Project thumbnail -->
                    <div class="panel panel-description">
                        <div class="panel-heading">
                            <h6 class="panel-title text-semibold no-margin">Описание
                                {#                                <small class="display-block">Company name</small>#}
                            </h6>
                        </div>
                        <div class="panel-body text-default description">
                            {{ project_el.description | safe if project_el else "" }}
                        </div>
                        <div class="panel-footer">

                            <ul class="heading-thumbnails text-center">
                                <li>
                                    <a class="btn border-primary text-primary btn-flat btn-rounded btn-icon btn-xs valign-text-bottom"><i
                                            class="icon-person"></i></a>
                                    <span class="badge bg-danger">5</span>
                                </li>
                                <li>
                                    <a class="btn border-success text-success btn-flat btn-rounded btn-xs valign-text-bottom"><i
                                            class="icon-task"></i></a>
                                    <span class="badge bg-danger">1</span>
                                </li>

                            </ul>
                        </div>

                    </div>

                    <!-- /Project thumbnail -->

                </div>
            </div>
        </div>


    </div>
    <script type="text/javascript">
        function dot_description() {
            var $desc = $('.description'), //элемент описания
                img_panel_height = $desc.closest('.row').find('.panel-image').outerHeight(), //ширина панели с изображением
                header_height = $desc.siblings('.panel-heading').outerHeight(), //ширина заголовка
                footer_height = $desc.siblings('.panel-footer').outerHeight(), //ширина нижней части
                padding = 40, //отступ
                height = Math.floor(img_panel_height - header_height - footer_height - padding); //рассчитанная ширина описания
            $desc.height(height); //устанавливаем ширину элемента как рассчитанную выше
            $desc.dotdotdot({ // применяем функцию dotdotdot суказанной шириной. функция сторонняя
                ellipsis: '...',
                wrap: 'word',
                height: height
            })
        }

        (function () {
            dot_description()
        })();

        $(window).on('resize', function () {
            dot_description();
        })
    </script>
{% endmacro %}

{% macro add_project_form(form) %}
    <form action="#" method="POST">
        <div class="modal-body">
            <div class="form-group">
                {{ render_field(form.name, 'Наименование', '') }}
                {{ render_field(form.companyName, 'Наименование компании', '') }}
                {{ render_field(form.companyLocation, 'Местонахождение компании', '') }}
                {{ render_field(form.githubLink, 'Ccылка', '') }}
                {{ render_field(form.avatar, 'Аватар', '') }}
                {{ render_field(form.description, 'описание', '') }}
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit form</button>
        </div>
    </form>
{% endmacro %}