{% extends "base.html" %}
{% block title %}
    Установка пароля
{% endblock %}

{% block base_content %}

    <body class="login-container" background="{{ url_for('static', filename='images/login-bg.png') }}">

    <!-- Page container -->
    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">

            <!-- Main content -->
            <div class="content-wrapper">

                <!-- Content area -->
                <div class="content">

                    <!-- Simple login form -->
                    <form action="/auth/set_password" method="POST">
                        <div class="panel panel-body login-form">
                            <div class="text-center">
                                <div class="icon-object border-slate-300 text-slate-300"><i class="icon-github"></i>
                                </div>
                                <h5 class="content-group">Установить пароль
                                    <small class="display-block">Вы зарегистрировались с помощью сервиса GitHub. <br>Укажите
                                        Ваш пароль.
                                    </small>
                                </h5>
                            </div>

                            <div class="form-group">
                                <div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="icon-lock2"></i></span>
                                        <input type="password" class="password form-control" placeholder="Пароль"
                                               name="password" required="required">
                                        <div class="input-group-btn ">
                                            <button type="button" class="eye btn btn-default btn-icon"><i
                                                    class="icon-eye"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block">Установить <i
                                        class="icon-circle-right2 position-right"></i></button>
                            </div>


                        </div>
                    </form>
                    <!-- /simple login form -->


                    <!-- Footer -->
                    {#					<div class="footer text-muted text-center">#}
                    {#						© 2015. <a href="#">Limitless Web App Kit</a> by <a href="http://themeforest.net/user/Kopyov" target="_blank">Eugene Kopyov</a>#}
                    {#					</div>#}
                    <!-- /footer -->

                </div>
                <!-- /content area -->

            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->

    </div>
    <script type="text/javascript">

        var pass_show = false;

        {#        $('.eye').click(function(e){#}
        {#            e.preventDefault();#}
        {#            pass_show = !pass_show;#}
        {#            console.log(pass_show);#}
        {#            $(this).find('i').toggleClass('icon-eye icon-eye-blocked');#}
        {#            if (pass_show) {#}
        {#                console.log('to text')#}
        {#                $(this).attr('placeholder', 'text')#}
        {#                console.log($(this).attr('placeholder'))#}
        {#            } else {#}
        {#                console.log('to paswd')#}
        {#                $(this).attr('placeholder', 'password')#}
        {#                console.log($(this).attr('placeholder'))#}
        {#            }#}
        {#        })#}
    </script>
    <!-- /page container -->

    </body>

{% endblock %}